
<%= render 'layouts/header'%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>
</head>
<body>
<div class="image">
   <h1 class="heading">Learn More About Sea Level Rise</h1>
</div>
    <div class= "container" style="background:#ADD8E6; margin-top:40px" >
                <!-- Indicators --> 
                <% @infographs.each do |title, card|%>
                        <div class="container flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front center">
                                    <h1 class="card-title"> <%=title%> </h1>
                                    <h3 class="card-text text-muted"></h3>
                                </div>
                                <div class="flip-card-back">
                                    <div class="center" style="padding:60px">
                                        <div class="card-body">
                                        <%=card%>
                                        <% if title == "What is sea level rise?"%>
                                        <br>
                                        <ol>
                                        <li>
                                            Changes in Land Elevation (EX: tectonic uplift)
                                        </li>
                                        <li>
                                            Changes in Volume of Seawater due to temperature changes (Water expands when it’s warm)                                        </li>
                                        <li>
                                            Changes in Mass of Seawater due to the amount of ice on land (EX: melting ice sheets/glaciers)                                        </li>
                                        </ol>
                                        <% elsif title == "Solution: Coastal Protection" %>
                                        <br>
                                        <ul>
                                        <li>Pros: High success rate, long lasting, can be enacted rather quickly. </li>
                                        <li>Cons: Can be very expensive, takes a ton of planning and time, not always 100% successful, can have negative environmental impact (think levees), very specific to each area.  </li>
                                        <li>Examples: Beach Nourishment (most common), levees and armoring. </li>
                                        </ul>
                                        <% elsif title == "Solution: Mitigation" %>
                                        <br>
                                        <ul>
                                        <li>Pros: Slow the rise in sea level, proven method, globally supported, best chance at long term success.</li>
                                        <li>Cons: Arguably the most difficult to accomplish, needs global governmental cooperation, requires lots of time and effort.</li>
                                        <li>Examples: Reduce greenhouse gas emissions, increase carbon sinks, minimize climate change, climate policy, reduce groundwater extraction.  </li>
                                        </ul>
                                        <% elsif title == "Solution: Planned Retreat"%>
                                        <br>
                                        <ul>
                                        <li>Pros: High success rate, allows nature to exist with little human interference. </li>
                                        <li>Cons: Questionable long-term viability, ethical questionable (especially in lower income communities), need heavy government support, expensive, lots of planning, economically inefficient.</li>
                                        <li>Examples: Managed realignment, building setbacks, land use planning.</li>
                                        </ul>
                                        <% elsif title == "Solution: Accomodation"%>
                                        <br>
                                        <ul>
                                        <li>Pros: Little human disturbance, can literally save lives, low cost and highly cost efficient. </li>
                                        <li>Cons: More accessible to the higher economic classes, some only have short term impact, highly regulated, expensive.</li>
                                        <li>Examples: Raising Beach Homes, flood proof buildings, warning systems, freshwater injections.</li>
                                        </ul>
                                        <% end%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <br>
                    <br>
                <%end%>
    </div>
        <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <%= render 'layouts/footer'%>
</body>
</html> 